<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.mapper.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.zx.model.Address" >
    <id column="adid" property="adid" jdbcType="INTEGER" />
    <result column="adcon" property="adcon" jdbcType="VARCHAR" />
    <result column="adtel" property="adtel" jdbcType="VARCHAR" />
    <result column="adname" property="adname" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="addelete" property="addelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    adid, adcon, adtel, adname, uid,addelete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zx.model.AddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where adid = #{adid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where adid = #{adid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.model.AddressExample" >
    delete from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.model.Address" >
    insert into address (adid, adcon, adtel, 
      adname, uid,addelete)
    values (#{adid,jdbcType=INTEGER}, #{adcon,jdbcType=VARCHAR}, #{adtel,jdbcType=VARCHAR}, 
      #{adname,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER},#{addelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.model.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        adid,
      </if>
      <if test="adcon != null" >
        adcon,
      </if>
      <if test="adtel != null" >
        adtel,
      </if>
      <if test="adname != null" >
        adname,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="addelete != null" >
        addelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="adcon != null" >
        #{adcon,jdbcType=VARCHAR},
      </if>
      <if test="adtel != null" >
        #{adtel,jdbcType=VARCHAR},
      </if>
      <if test="adname != null" >
        #{adname,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="addelete != null" >
        #{addelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.model.AddressExample" resultType="java.lang.Integer" >
    select count(*) from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update address
    <set >
      <if test="record.adid != null" >
        adid = #{record.adid,jdbcType=INTEGER},
      </if>
      <if test="record.adcon != null" >
        adcon = #{record.adcon,jdbcType=VARCHAR},
      </if>
      <if test="record.adtel != null" >
        adtel = #{record.adtel,jdbcType=VARCHAR},
      </if>
      <if test="record.adname != null" >
        adname = #{record.adname,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update address
    set adid = #{record.adid,jdbcType=INTEGER},
      adcon = #{record.adcon,jdbcType=VARCHAR},
      adtel = #{record.adtel,jdbcType=VARCHAR},
      adname = #{record.adname,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.model.Address" >
    update address
    <set >
      <if test="adcon != null" >
        adcon = #{adcon,jdbcType=VARCHAR},
      </if>
      <if test="adtel != null" >
        adtel = #{adtel,jdbcType=VARCHAR},
      </if>
      <if test="adname != null" >
        adname = #{adname,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="addelete != null" >
        addelete = #{addelete,jdbcType=INTEGER},
      </if>
    </set>
    where adid = #{adid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.model.Address" >
    update address
    set adcon = #{adcon,jdbcType=VARCHAR},
      adtel = #{adtel,jdbcType=VARCHAR},
      adname = #{adname,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER}
      addelete = #{addelete,jdbcType=INTEGER}
    where adid = #{adid,jdbcType=INTEGER}
  </update>
  <!--用户id 查询全部地址 -->
  <select id="getuid" parameterType="Integer" resultType="com.zx.model.Address">
    SELECT * FROM address WHERE uid=#{uid} AND addelete = 0
  </select>

</mapper>