<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.mapper.DetailorderMapper" >
  <resultMap id="BaseResultMap" type="com.zx.model.Detailorder" >
    <id column="doid" property="doid" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="donum" property="donum" jdbcType="INTEGER" />
    <result column="dopri" property="dopri" jdbcType="INTEGER" />
    <result column="dodate" property="dodate" jdbcType="TIMESTAMP" />
    <result column="dostatus" property="dostatus" jdbcType="INTEGER" />
    <result column="adid" property="adid" jdbcType="INTEGER" />
    <result column="dodelete" property="dodelete" jdbcType="INTEGER" />
    <result column="domessage" property="domessage" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.zx.model.Detailorder" id="DetailOrderResultMap">
    <id column="doid" property="doid" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="donum" property="donum" jdbcType="INTEGER" />
    <result column="dopri" property="dopri" jdbcType="INTEGER" />
    <result column="dodate" property="dodate" jdbcType="TIMESTAMP" />
    <result column="dostatus" property="dostatus" jdbcType="INTEGER" />
    <result column="adid" property="adid" jdbcType="INTEGER" />
    <result column="dodelete" property="dodelete" jdbcType="INTEGER" />
    <result column="domessage" property="domessage" jdbcType="VARCHAR" />
    <collection property="order" ofType="com.zx.model.Order">
      <id column="oid" property="oid" jdbcType="INTEGER" />
      <result column="onum" property="onum" jdbcType="INTEGER" />
      <result column="otatal" property="otatal" jdbcType="INTEGER" />
      <result column="uid" property="uid" jdbcType="INTEGER" />
      <result column="odate" property="odate" jdbcType="TIMESTAMP" />
      <result column="odelete" property="odelete" jdbcType="INTEGER" />
      <collection property="userBuy" ofType="com.zx.model.UserBuy">
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="uname" property="uname" jdbcType="VARCHAR" />
        <result column="utruename" property="utruename" jdbcType="VARCHAR" />
        <result column="upassword" property="upassword" jdbcType="VARCHAR" />
        <result column="uidcard" property="uidcard" jdbcType="VARCHAR" />
        <result column="uphone" property="uphone" jdbcType="VARCHAR" />
        <result column="umail" property="umail" jdbcType="VARCHAR" />
        <result column="upic" property="upic" jdbcType="VARCHAR" />
        <result column="usex" property="usex" jdbcType="VARCHAR" />
        <result column="uage" property="uage" jdbcType="INTEGER" />
        <result column="udel" property="udel" jdbcType="INTEGER" />
        <result column="ucredit" property="ucredit" jdbcType="INTEGER" />
      </collection>
    </collection>
    <collection property="food" ofType="com.zx.model.Food">
      <id column="fid" property="fid" jdbcType="INTEGER" />
      <result column="fname" property="fname" jdbcType="VARCHAR" />
      <result column="stid" property="stid" jdbcType="INTEGER" />
      <result column="fprice" property="fprice" jdbcType="INTEGER" />
      <result column="fcollection" property="fcollection" jdbcType="INTEGER" />
      <result column="fsalesvolume" property="fsalesvolume" jdbcType="INTEGER" />
      <result column="fstatus" property="fstatus" jdbcType="INTEGER" />
      <result column="fpic" property="fpic" jdbcType="VARCHAR" />
      <result column="fdelete" property="fdelete" jdbcType="INTEGER" />
    </collection>
    <collection property="address" ofType="com.zx.model.Address">
      <id column="adid" property="adid" jdbcType="INTEGER" />
      <result column="adcon" property="adcon" jdbcType="VARCHAR" />
      <result column="adtel" property="adtel" jdbcType="VARCHAR" />
      <result column="adname" property="adname" jdbcType="VARCHAR" />
      <result column="uid" property="uid" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    doid, oid, fid, donum, dopri, dodate, dostatus, adid, dodelete, domessage
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zx.model.DetailorderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from detailorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from detailorder
    where doid = #{doid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detailorder
    where doid = #{doid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zx.model.DetailorderExample" >
    delete from detailorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zx.model.Detailorder" >
    insert into detailorder (doid, oid, fid,
      donum, dopri, dodate,
      dostatus, adid, dodelete,
      domessage)
    values (#{doid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER},
      #{donum,jdbcType=INTEGER}, #{dopri,jdbcType=INTEGER}, CURRENT_TIMESTAMP,
      #{dostatus,jdbcType=INTEGER}, #{adid,jdbcType=INTEGER}, #{dodelete,jdbcType=INTEGER},
      #{domessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.model.Detailorder" >
    insert into detailorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="doid != null" >
        doid,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="donum != null" >
        donum,
      </if>
      <if test="dopri != null" >
        dopri,
      </if>
      <if test="dodate != null" >
        dodate,
      </if>
      <if test="dostatus != null" >
        dostatus,
      </if>
      <if test="adid != null" >
        adid,
      </if>
      <if test="dodelete != null" >
        dodelete,
      </if>
      <if test="domessage != null" >
        domessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="doid != null" >
        #{doid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="donum != null" >
        #{donum,jdbcType=INTEGER},
      </if>
      <if test="dopri != null" >
        #{dopri,jdbcType=INTEGER},
      </if>
      <if test="dodate != null" >
        #{dodate,jdbcType=TIMESTAMP},
      </if>
      <if test="dostatus != null" >
        #{dostatus,jdbcType=INTEGER},
      </if>
      <if test="adid != null" >
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="dodelete != null" >
        #{dodelete,jdbcType=INTEGER},
      </if>
      <if test="domessage != null" >
        #{domessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.model.DetailorderExample" resultType="java.lang.Integer" >
    select count(*) from detailorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update detailorder
    <set >
      <if test="record.doid != null" >
        doid = #{record.doid,jdbcType=INTEGER},
      </if>
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.donum != null" >
        donum = #{record.donum,jdbcType=INTEGER},
      </if>
      <if test="record.dopri != null" >
        dopri = #{record.dopri,jdbcType=INTEGER},
      </if>
      <if test="record.dodate != null" >
        dodate = #{record.dodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dostatus != null" >
        dostatus = #{record.dostatus,jdbcType=INTEGER},
      </if>
      <if test="record.adid != null" >
        adid = #{record.adid,jdbcType=INTEGER},
      </if>
      <if test="record.dodelete != null" >
        dodelete = #{record.dodelete,jdbcType=INTEGER},
      </if>
      <if test="record.domessage != null" >
        domessage = #{record.domessage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update detailorder
    set doid = #{record.doid,jdbcType=INTEGER},
      oid = #{record.oid,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER},
      donum = #{record.donum,jdbcType=INTEGER},
      dopri = #{record.dopri,jdbcType=INTEGER},
      dodate = #{record.dodate,jdbcType=TIMESTAMP},
      dostatus = #{record.dostatus,jdbcType=INTEGER},
      adid = #{record.adid,jdbcType=INTEGER},
      dodelete = #{record.dodelete,jdbcType=INTEGER},
      domessage = #{record.domessage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.model.Detailorder" >
    update detailorder
    <set >
      <if test="oid != null" >
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="donum != null" >
        donum = #{donum,jdbcType=INTEGER},
      </if>
      <if test="dopri != null" >
        dopri = #{dopri,jdbcType=INTEGER},
      </if>
      <if test="dodate != null" >
        dodate = #{dodate,jdbcType=TIMESTAMP},
      </if>
      <if test="dostatus != null" >
        dostatus = #{dostatus,jdbcType=INTEGER},
      </if>
      <if test="adid != null" >
        adid = #{adid,jdbcType=INTEGER},
      </if>
      <if test="dodelete != null" >
        dodelete = #{dodelete,jdbcType=INTEGER},
      </if>
      <if test="domessage != null" >
        domessage = #{domessage,jdbcType=VARCHAR},
      </if>
    </set>
    where doid = #{doid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.model.Detailorder" >
    update detailorder
    set oid = #{oid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      donum = #{donum,jdbcType=INTEGER},
      dopri = #{dopri,jdbcType=INTEGER},
      dodate = #{dodate,jdbcType=TIMESTAMP},
      dostatus = #{dostatus,jdbcType=INTEGER},
      adid = #{adid,jdbcType=INTEGER},
      dodelete = #{dodelete,jdbcType=INTEGER},
      domessage = #{domessage,jdbcType=VARCHAR}
    where doid = #{doid,jdbcType=INTEGER}
  </update>
  <!--未发货数量-->
  <select id="countByNoSend" parameterType="Integer" resultType="java.lang.Integer">
    select count(*) from detailorder
    WHERE dostatus=0 AND dodelete=0 AND oid=#{oid}
  </select>
  <!--未签收数量-->
  <select id="countByNoSigh" parameterType="Integer" resultType="java.lang.Integer" >
    select count(*) from detailorder
    WHERE dostatus=1 AND dodelete=0 AND oid=#{oid}
  </select>
  <!--未评价数量-->
  <select id="countByNoEvaluate" parameterType="Integer" resultType="java.lang.Integer" >
    select count(*) from detailorder
    WHERE dostatus=2 AND dodelete=0 AND oid=#{oid}
  </select>
  <!--根据订单ID获取订单明细列表-->
  <select id="selectdetailOrderList" parameterType="Integer" resultMap="DetailOrderResultMap" >
    select orders.*, detailorder.*, food.*,address.*,user_buy.*
      from detailorder,orders,food,address,user_buy
      WHERE detailorder.fid=food.fid
      AND detailorder.oid=orders.oid
      AND detailorder.adid=address.adid
      AND orders.uid = user_buy.uid
    AND detailorder.dodelete=0 AND detailorder.oid=#{oid}
  </select>
  <!--根据食物ID获取订单明细列表-->
  <select id="selectdetailOrderListByFid" parameterType="Integer" resultMap="DetailOrderResultMap" >
      select orders.*, detailorder.*, food.*,address.*,user_buy.*
      from detailorder,orders,food,address,user_buy
      WHERE detailorder.fid=food.fid
      AND detailorder.oid=orders.oid
      AND detailorder.adid=address.adid
      AND orders.uid = user_buy.uid
      /*AND detailorder.dodelete=0*/
      AND detailorder.fid=#{fid}
  </select>

  <select id="getAllDetailOrderBack" parameterType="com.zx.util.Page" resultMap="DetailOrderResultMap">
    SELECT orders.*, detailorder.*, food.*,address.*,user_buy.*
     from detailorder,orders,food,address,user_buy
      WHERE detailorder.fid=food.fid
      AND detailorder.oid=orders.oid
      AND detailorder.adid=address.adid
      AND orders.uid = user_buy.uid
      /*AND detailorder.dodelete=0*/
      LIMIT #{start},#{maxRows}
  </select>
  <select id="getAllDetailOrderCounts" resultType="Integer">
    SELECT count(doid) FROM detailorder
  </select>
  <select id="selectdetailOrderListByDoid" parameterType="Integer" resultMap="DetailOrderResultMap" >
    select orders.*, detailorder.*, food.*,address.*,user_buy.*
    from detailorder,orders,food,address,user_buy
    WHERE detailorder.fid=food.fid
    AND detailorder.oid=orders.oid
    AND detailorder.adid=address.adid
    AND orders.uid = user_buy.uid
    AND detailorder.dodelete=0
    AND detailorder.doid=#{doid}
  </select>

  <!--图表-->
  <select id="chartByDate" resultType="com.zx.model.OrderChart" >
    SELECT COUNT(*) AS counts,DATE_FORMAT(dodate,'%y-%m-%d %H:%i') AS timeDate
    FROM detailorder
    WHERE DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= dodate
    GROUP BY DATE_FORMAT(dodate,'%y-%m-%d %H:%i')
    ORDER BY DATE_FORMAT(dodate,'%y-%m-%d %H:%i') DESC
  </select>
  <select id="DetailOrderChart" resultType="com.zx.chart.DetailChartSal">
    select sum(detailorder.donum) as donumsum,food.fname
    from detailorder,food
    where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= detailorder.dodate
    and detailorder.fid=food.fid
    group by detailorder.fid
  </select>
</mapper>